@model TabHelper.Models.ViewModel.DepartmentViewModel

@{
    var state = string.Empty;
}
<div class="panel panel-info drop-shadow">
    <div class="panel-heading">Listagem de Entidades</div>
    <div class="panel-body">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Data Criação</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Descrição</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Departments != null)
                {
                    foreach (var dept in Model.Departments)
                    {
                <tr>
                    <td>@dept.Id</td>
                    <td>@dept.CreatedAt</td>
                    <td>@dept.Name</td>
                    <td>@dept.Description</td>

                    @if (dept.Id == 1 || dept.IsDeleted)
                    {
                        state = "disabled";
                        dept.Id = 0;
                    }
                    else
                    {
                        state = string.Empty;
                    }

                    <td>
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@dept.Id" class="btn btn-primary btn-xs @state" style="width: 80px;" data-toggle="modal" data-target="#edit">Alterar</a>
                        <a asp-controller="Department" asp-action="Delete" asp-route-id="@dept.Id" class="btn btn-danger btn-xs @state" style="width: 80px;" data-toggle="modal" data-target="#delete">Deletar</a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>