@model TabHelper.Models.ViewModel.DashViewModel
@using TabHelper.Models.ViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    @*1º Row*@
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="panel panel-info text-center drop-shadow">
                <div class="panel-body">
                    <div class="panel-body ">
                        <p class="text-primary">
                            <strong>Tabulações</strong>
                        </p>
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        <b>Ativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.TabCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Inativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.TabCountInt</span>
                                </td>
                            </tr>
                    </table>
                    <div class="col-md-12">
                        <button type="button" style="width: 100%;" class="btn btn-default btn-xs" data-toggle="modal" data-target="#tabulacao">
                            Adicionar (+)
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info text-center drop-shadow">
                <div class="panel-body">
                    <div class="panel-body ">
                        <p class="text-warning">
                            <strong>Departamentos</strong>
                        </p>
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        <b>Ativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.DeptCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Inativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.DeptCountInt</span>
                                </td>
                            </tr>
                    </table>
                    <div class="col-md-12">
                        <button type="button" style="width: 100%;" class="btn btn-default btn-xs" data-toggle="modal" data-target="#departamento">
                            Adicionar (+)
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info text-center drop-shadow">
                <div class="panel-body">
                    <div class="panel-body ">
                        <p class="text-success">
                            <strong>Usuários</strong>
                        </p>
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        <b>Ativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.UserCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Inativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.UserCountInt</span>
                                </td>
                            </tr>
                    </table>
                    <div class="col-md-12">
                        <button type="button" style="width: 100%;" class="btn btn-default btn-xs" data-toggle="modal" data-target="#usuario">
                            Adicionar (+)
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info text-center drop-shadow">
                <div class="panel-body">
                    <div class="panel-body ">
                        <p class="text-info">
                            <strong>Formulários</strong>
                        </p>
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        <b>Ativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Inativos</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountInt</span>
                                </td>
                            </tr>
                    </table>
                    <div class="col-md-12">
                        <button type="button" style="width: 100%;" class="btn btn-default btn-xs" data-toggle="modal" data-target="#formulario">
                            Adicionar (+)
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*2º Row*@
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="panel panel-info text-center drop-shadow">
                <div class="panel-body">
                    <div class="panel-body ">
                        <p class="text-warning">
                            <strong>Formulários Por Departamento</strong>
                        </p>
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        <b>Pesquisa</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Vendas</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Suporte</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center drop-shadow">
                <div class="panel-body">
                    <div class="panel-body ">
                        <p class="text-warning">
                            <strong>Formulários Por Departamento</strong>
                        </p>
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        <b>Pesquisa</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Vendas</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Suporte</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center drop-shadow">
                <div class="panel-body">
                    <div class="panel-body ">
                        <p class="text-warning">
                            <strong>Alguma Coisa</strong>
                        </p>
                    </div>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        <b>Pesquisa</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Vendas</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        <b>Suporte</b>
                                    </small>
                                </td>
                                <td>
                                    <span class="badge">@Model.FormCountAct</span>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*3º Row*@
    <div class="col-md-12">
        <div class="col-md-7">
            <div class="panel panel-info drop-shadow">
                <div class="panel-heading">Últimos formulários adicionados</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Alguma informação</th>
                                <th>Data de Criação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="panel panel-info drop-shadow">
                <div class="panel-heading">
                    Mensageiro
                    <span class="badge">0</span>
                    <span class="badge">0</span>
                </div>
                <div class="panel-body">
                    <a href="#" style="width: 70%;" class="btn btn-info btn-xs">Adicionar nota</a>
                    <a href="#" style="width: 28%;" class="btn btn-primary btn-xs">Limpar</a>
                </div>
            </div>

            <div style="height: 370px; overflow-y: scroll;padding-top:10px;">
                <div class="col-md-12 message">
                    <div class="well well-sm drop-shadow" style="border-color:red">
                        <p>
                            <button type="button" class="close" data-dismiss="message">&times;</button>
                            <strong class="text-center">Departamento: Vendas</strong>
                        </p>
                        Informamos que não teremos expediente no dia <b style="color:brown">@DateTime.Now.ToString("dd/MM/yyyy")</b>
                    </div>
                </div>
                <div class="col-md-12 message">
                    <div class="well well-sm drop-shadow" style="border-color:red">
                        <p>
                            <button type="button" class="close" data-dismiss="message">&times;</button>
                            <strong class="text-center">Departamento: Pesquisa</strong>
                        </p>
                        Novo mailing de pesquisa IBGE aos departamentos
                    </div>
                </div>
                <div class="col-md-12 message">
                    <div class="well well-sm drop-shadow" style="border-color:#ffd800;">
                        <p>
                            <button type="button" class="close" data-dismiss="message">&times;</button>
                            <strong class="text-center">Departamento: Vendas</strong>
                        </p>
                        Informamos que não teremos expediente no dia <b style="color:brown">@DateTime.Now.ToString("dd/MM/yyyy")</b>
                    </div>
                </div>
                <div class="col-md-12 message">
                    <div class="well well-sm drop-shadow" style="border-color:#029acf;">
                        <p>
                            <button type="button" class="close" data-dismiss="message">&times;</button>
                            <strong class="text-center">Departamento: Pesquisa</strong>
                        </p>
                        Novo mailing de pesquisa IBGE aos departamentos
                    </div>
                </div>
                <div class="col-md-12 message">
                    <div class="well well-sm drop-shadow" style="border-color:#029acf;">
                        <p>
                            <button type="button" class="close" data-dismiss="message">&times;</button>
                            <strong class="text-center">Departamento: Vendas</strong>
                        </p>
                        Informamos que não teremos expediente no dia <b style="color:brown">@DateTime.Now.ToString("dd/MM/yyyy")</b>
                    </div>
                </div>
                <div class="col-md-12 message">
                    <div class="well well-sm drop-shadow" style="border-color:#029acf;">
                        <p>
                            <button type="button" class="close" data-dismiss="message">&times;</button>
                            <strong class="text-center">Departamento: Pesquisa</strong>
                        </p>
                        Novo mailing de pesquisa IBGE aos departamentos
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="departamento">
    <div class="modal-dialog">
        @await Html.PartialAsync("../Department/Create.cshtml", new DepartmentModel())
    </div>
</div>


<div class="modal" id="usuario">
    <div class="modal-dialog">
        @await Html.PartialAsync("../User/Create.cshtml", new UserModel())
    </div>
</div>